.custom__button {
  background-color: var(--primary-color);
  color: var(--blackgreen-color);
  font-family: var(--font-base);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover {
  background-color: var(--darkgreen-color);
  color: var(--primary-color);
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
